*
{
    text-align: center;
    border: firebrick;
    border-width: 10cm;
    text-decoration: none;
}
h1
{
    color: burlywood;
}
div.s
{
    background-image: url("../background.jpg");
    margin-top: 0px;
    margin-right: 700px;
    margin-bottom: 0px;
    color: crimson;
}
a
{
    background-color: rgb(159, 160, 95);
}
header
{
    background-color: paleturquoise;
}
input,textarea
{
    font-style: oblique;
    flood-color: palevioletred; 
}
div.d
{
    position: fixed;
    color: royalblue;
    width: 100px;
    background-color: thistle;
    border: 30px ;
    border-color: rgb(197, 71, 255);
    padding: 10px;
    margin-left: 1000px;
    margin-top: 0px;
    height: 100px;

}